flows_BW.json
[
    {
        "id": "51d9a1627388b982",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "80fed7c6aa4d30d0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "f8aea8534f5e2a70",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "RPi",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "297f87ae35596935",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "e427e8a2.33a718",
        "order": 4,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "62c1eaa282dd444b",
        "type": "ui_group",
        "name": "Chart",
        "tab": "662b1e41ad4ec8e6",
        "order": 3,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "c6375cf50c3cb618",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "81827930559ca1a3",
        "order": 2,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "f7b9b84f65a2452b",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "3a0b2c699094b623",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "700453c3.f1167c",
        "type": "gauth"
    },
    {
        "id": "4cb03dd4e1bf63fb",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "3951a8c0da358f70",
        "order": 2,
        "disp": true,
        "width": "30",
        "collapse": true
    },
    {
        "id": "e427e8a2.33a718",
        "type": "ui_tab",
        "name": "TC_SerEnergy",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "662b1e41ad4ec8e6",
        "type": "ui_tab",
        "name": "Gas Production",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81827930559ca1a3",
        "type": "ui_tab",
        "name": "Pressure Board",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a0b2c699094b623",
        "type": "ui_tab",
        "name": "Setting",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "3951a8c0da358f70",
        "type": "ui_tab",
        "name": "TC_BW",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9102b13d1518be8f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fb3f39af9de24080",
        "type": "ui_group",
        "name": "Control Panel",
        "tab": "3951a8c0da358f70",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "e87d1749eeb50e48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fb3f39af9de24080",
        "order": 2,
        "width": 17,
        "height": 1
    },
    {
        "id": "8531971fc0adae5f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fb3f39af9de24080",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "8e6841557df651fd",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fb3f39af9de24080",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "ea9126b5aeab11c5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fb3f39af9de24080",
        "order": 15,
        "width": 14,
        "height": 1
    },
    {
        "id": "229db7301ef478fa",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fb3f39af9de24080",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "2761f10ae1cd3c34",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fb3f39af9de24080",
        "order": 22,
        "width": 11,
        "height": 1
    },
    {
        "id": "22f295e84f787146",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fb3f39af9de24080",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "290726786c8dc6c3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fb3f39af9de24080",
        "order": 28,
        "width": 11,
        "height": 1
    },
    {
        "id": "f3c08311aa21a2f1",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "RS485_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "5713404777be4e8c",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "GA",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 2320,
        "wires": [
            [
                "984d7441197b64dc",
                "3edb687b11956025"
            ]
        ]
    },
    {
        "id": "984d7441197b64dc",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "RS232_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 2260,
        "wires": []
    },
    {
        "id": "0e664487dd5c0305",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "Header_EVA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "8e7519db73937b33",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "DFM",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 2500,
        "wires": [
            [
                "8043e13e12a166e5",
                "c0896031c9517d0b",
                "63d6ceec38034cb8"
            ]
        ]
    },
    {
        "id": "8043e13e12a166e5",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "AAAA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 2500,
        "wires": []
    },
    {
        "id": "2f0a9b7b72a72aab",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "f5e78be3c1ee0a93",
                "0ab9187a5115f0e0",
                "1fe4af94c546c64a",
                "2fdbb3a8895bf1cf",
                "2738725e8ea5d4f7",
                "4598ccac281cef61",
                "9df9c982c3acd79f"
            ],
            [
                "f5e78be3c1ee0a93",
                "0ab9187a5115f0e0",
                "1fe4af94c546c64a",
                "2fdbb3a8895bf1cf",
                "43db9b28eac6c48c",
                "0f496279caf9fa34",
                "9df9c982c3acd79f"
            ],
            [
                "f5e78be3c1ee0a93",
                "0ab9187a5115f0e0",
                "1fe4af94c546c64a",
                "2fdbb3a8895bf1cf",
                "9df9c982c3acd79f"
            ],
            [
                "30f33f962a88fcbd",
                "0ab9187a5115f0e0",
                "6c0b09e406740e05",
                "1fe4af94c546c64a",
                "2fdbb3a8895bf1cf",
                "740652503f856c0a",
                "9df9c982c3acd79f"
            ],
            [
                "6c0b09e406740e05",
                "0ab9187a5115f0e0",
                "ca10d2e243f380a4",
                "9df9c982c3acd79f",
                "1fe4af94c546c64a"
            ],
            [
                "6c0b09e406740e05",
                "0ab9187a5115f0e0",
                "1fe4af94c546c64a",
                "9df9c982c3acd79f"
            ],
            [
                "f681be4d3d249118",
                "0ab9187a5115f0e0",
                "1fe4af94c546c64a",
                "9df9c982c3acd79f"
            ],
            [
                "f681be4d3d249118",
                "0ab9187a5115f0e0",
                "1fe4af94c546c64a",
                "9df9c982c3acd79f"
            ]
        ]
    },
    {
        "id": "f5e78be3c1ee0a93",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "297f87ae35596935",
        "order": 20,
        "width": 18,
        "height": 5,
        "label": "Burner",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1710,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "30f33f962a88fcbd",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "297f87ae35596935",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "TC10 Gauge",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1730,
        "y": 740,
        "wires": []
    },
    {
        "id": "3edb687b11956025",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2380,
        "wires": [
            [
                "7c50af5572611d22",
                "18a790e9cc9f4a90",
                "47cbace1f063f615"
            ],
            [
                "7c50af5572611d22",
                "47cbace1f063f615"
            ],
            [
                "7c50af5572611d22",
                "47cbace1f063f615"
            ],
            [
                "7c50af5572611d22",
                "47cbace1f063f615"
            ],
            [
                "7c50af5572611d22",
                "47cbace1f063f615"
            ],
            [
                "47cbace1f063f615"
            ]
        ]
    },
    {
        "id": "7c50af5572611d22",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 4,
        "width": 12,
        "height": 10,
        "label": "Gas Comp",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 610,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "18a790e9cc9f4a90",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "CO gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 610,
        "y": 2260,
        "wires": []
    },
    {
        "id": "6c0b09e406740e05",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "297f87ae35596935",
        "order": 22,
        "width": 18,
        "height": 5,
        "label": "Steam Reformer",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1740,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "ba75811dae114c69",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "c6375cf50c3cb618",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pressure Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1260,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "f681be4d3d249118",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "297f87ae35596935",
        "order": 23,
        "width": 18,
        "height": 5,
        "label": "RAD",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1710,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "c0896031c9517d0b",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2560,
        "wires": [
            [
                "863fe273668e898c",
                "5c0fba8c7eea187b"
            ]
        ]
    },
    {
        "id": "863fe273668e898c",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 8,
        "width": 12,
        "height": 6,
        "label": "DFM",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 730,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "302a74e5909f14ef",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "Batch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "0ab9187a5115f0e0",
        "type": "join",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "10",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "3f72cbc05890b7ee"
            ]
        ]
    },
    {
        "id": "8acde431df151948",
        "type": "ui_table",
        "z": "51d9a1627388b982",
        "group": "297f87ae35596935",
        "name": "Sum Table",
        "order": 21,
        "width": 10,
        "height": 16,
        "columns": [
            {
                "field": "topic",
                "title": "Topic",
                "width": "40px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "value",
                "title": "Value",
                "width": "60px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1290,
        "y": 340,
        "wires": []
    },
    {
        "id": "3f72cbc05890b7ee",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.value = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nmsg.payload = msg_lst\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "8acde431df151948",
                "302a74e5909f14ef"
            ]
        ]
    },
    {
        "id": "ca10d2e243f380a4",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "297f87ae35596935",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "TC11 gauge",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1730,
        "y": 780,
        "wires": []
    },
    {
        "id": "ae29e39058290faf",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "297f87ae35596935",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Header Burner PV gauge",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1770,
        "y": 940,
        "wires": []
    },
    {
        "id": "58e910bc523c7de5",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 7,
        "width": 6,
        "height": 6,
        "label": "Header_BR",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1730,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "c7728c450856bed4",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 6,
        "width": 6,
        "height": 6,
        "label": "Header_EVA",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1730,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "0f76170012ceae62",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 22,
        "width": 6,
        "height": 6,
        "label": "Pump",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "75",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 890,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "fec3636bb3584a3f",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 14,
        "width": 6,
        "height": 6,
        "label": "250 MFC",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "250",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1040,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "bebbe38f992f19d1",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 15,
        "width": 6,
        "height": 6,
        "label": "100 MFC",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1040,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "9c4d6e736723b619",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 23,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "PCB gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 1300,
        "wires": []
    },
    {
        "id": "84ae3b08f6220661",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "0-10V to 0-100%",
        "x": 690,
        "y": 1300,
        "wires": [
            [
                "9c4d6e736723b619",
                "4fa9f1126721e294",
                "555c1e6d0b869c3f"
            ]
        ]
    },
    {
        "id": "8a887d23b34bd2a3",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "39320.7",
        "maxin": "65535",
        "minout": "0",
        "maxout": "10",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "1-5V to 0-10 (16bits)",
        "x": 860,
        "y": 1720,
        "wires": [
            [
                "ba75811dae114c69",
                "dcccdc5ff7464167",
                "1b6613b15b9bcbb8"
            ]
        ]
    },
    {
        "id": "27c5cf1eaf46922b",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "32767",
        "maxin": "65535",
        "minout": "0",
        "maxout": "250",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-250 (16bits)",
        "x": 700,
        "y": 1840,
        "wires": [
            [
                "fec3636bb3584a3f",
                "1bd61b441e499e34",
                "dcccdc5ff7464167"
            ]
        ]
    },
    {
        "id": "39aa33014c7fbc16",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "32767",
        "maxin": "65535",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-100 (16bits)",
        "x": 700,
        "y": 1900,
        "wires": [
            [
                "bebbe38f992f19d1",
                "dcccdc5ff7464167"
            ]
        ]
    },
    {
        "id": "3ffc0a0ccd31fc95",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "32767",
        "maxin": "39320.6",
        "minout": "-1",
        "maxout": "0",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-1V to -1-0 (16bits)",
        "x": 860,
        "y": 1680,
        "wires": [
            [
                "ba75811dae114c69",
                "dcccdc5ff7464167",
                "1b7f7e50a6442b99"
            ]
        ]
    },
    {
        "id": "9478dbaf4ae8ae38",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "0",
        "maxin": "65535",
        "minout": "0",
        "maxout": "5",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "4-20mA to 0-5 (16bits)",
        "x": 700,
        "y": 1620,
        "wires": [
            [
                "ba75811dae114c69",
                "dcccdc5ff7464167"
            ]
        ]
    },
    {
        "id": "5e5e900617c7098c",
        "type": "range",
        "z": "51d9a1627388b982",
        "d": true,
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "120",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-120",
        "x": 680,
        "y": 1360,
        "wires": [
            [
                "0f76170012ceae62"
            ]
        ]
    },
    {
        "id": "fb91e8a1baef0841",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "250",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-250",
        "x": 680,
        "y": 1440,
        "wires": [
            [
                "fec3636bb3584a3f",
                "4fa9f1126721e294"
            ]
        ]
    },
    {
        "id": "2892573169a2df05",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-100",
        "x": 680,
        "y": 1480,
        "wires": [
            [
                "bebbe38f992f19d1",
                "4fa9f1126721e294"
            ]
        ]
    },
    {
        "id": "5f9f6add5476c2c0",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "0-1-5V",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "32767",
                "vt": "num",
                "v2": "39320.6",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "39320.7",
                "vt": "num",
                "v2": "65535",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 1660,
        "wires": [
            [
                "3ffc0a0ccd31fc95"
            ],
            [
                "8a887d23b34bd2a3"
            ]
        ]
    },
    {
        "id": "bf1bbf138e41befb",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.ADAM_TC",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e8fb5607ffc32ab7",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.Header_EVA",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "fe5252a5124dc2a3",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.GA",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "63d6ceec38034cb8",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.DFM",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 2620,
        "wires": [
            []
        ]
    },
    {
        "id": "36e6c51cf6a24f72",
        "type": "inject",
        "z": "51d9a1627388b982",
        "name": "Inject to NodeRed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "NodeRed",
        "payload": "NodeRed",
        "payloadType": "flow",
        "x": 4210,
        "y": 520,
        "wires": [
            [
                "51f38ef1f5276f8f",
                "328b020dbef4c8d5"
            ]
        ]
    },
    {
        "id": "323b3b84e39e99f9",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "32767",
        "maxin": "65535",
        "minout": "0",
        "maxout": "5",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-5 (16bits)",
        "x": 690,
        "y": 1780,
        "wires": [
            [
                "165419d1073607c6"
            ]
        ]
    },
    {
        "id": "ab3d7c02f985522e",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "Batch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "1fe4af94c546c64a",
        "type": "join",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "9",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 950,
        "y": 260,
        "wires": [
            [
                "b479ac89031e81d2",
                "ab3d7c02f985522e"
            ]
        ]
    },
    {
        "id": "4a8b861c886c38a0",
        "type": "ui_table",
        "z": "51d9a1627388b982",
        "group": "4cb03dd4e1bf63fb",
        "name": "Sum Table",
        "order": 11,
        "width": 10,
        "height": 5,
        "columns": [
            {
                "field": "topic",
                "title": "Topic",
                "width": "40px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "value",
                "title": "Value",
                "width": "60px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1290,
        "y": 260,
        "wires": []
    },
    {
        "id": "b479ac89031e81d2",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.value = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nmsg.payload = msg_lst\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 260,
        "wires": [
            [
                "4a8b861c886c38a0"
            ]
        ]
    },
    {
        "id": "2fdbb3a8895bf1cf",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 7,
        "width": 20,
        "height": 12,
        "label": "TC_BW chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1740,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "552d6b7661d14e9d",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 4,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Lambda Sensor",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "2",
        "x": 1140,
        "y": 1780,
        "wires": []
    },
    {
        "id": "43d91812d5c08b98",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "msg.payload = 14.3 * msg.payload + 1.04\nmsg.payload = parseFloat(msg.payload.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1400,
        "wires": [
            [
                "0f76170012ceae62",
                "361c0c0d5a537701",
                "4fa9f1126721e294",
                "49b499f88c803133"
            ]
        ]
    },
    {
        "id": "1bd61b441e499e34",
        "type": "ui_chart",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 8,
        "width": 5,
        "height": 7,
        "label": "250 MFC",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 940,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "2738725e8ea5d4f7",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 2,
        "width": 8,
        "height": 3,
        "gtype": "gage",
        "title": "BR outlet",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "800",
        "x": 1720,
        "y": 620,
        "wires": []
    },
    {
        "id": "43db9b28eac6c48c",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 5,
        "width": 8,
        "height": 3,
        "gtype": "gage",
        "title": "SR cat inlet ",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "280",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "150",
        "seg2": "200",
        "x": 1730,
        "y": 660,
        "wires": []
    },
    {
        "id": "165419d1073607c6",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "Round to two-digits",
        "func": "msg.payload = parseFloat(msg.payload.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1780,
        "wires": [
            [
                "552d6b7661d14e9d",
                "dcccdc5ff7464167"
            ]
        ]
    },
    {
        "id": "740652503f856c0a",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 1,
        "width": 7,
        "height": 6,
        "gtype": "wave",
        "title": "TC10",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1710,
        "y": 580,
        "wires": []
    },
    {
        "id": "4598ccac281cef61",
        "type": "batch",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "12",
        "allowEmptySequence": true,
        "topics": [],
        "x": 950,
        "y": 200,
        "wires": [
            [
                "95ba60ff117548f0"
            ]
        ]
    },
    {
        "id": "95ba60ff117548f0",
        "type": "join",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "75daf69634180737",
                "553dd0dda979b64a"
            ]
        ]
    },
    {
        "id": "901bdc8269575d6e",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "temp batch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1510,
        "y": 140,
        "wires": []
    },
    {
        "id": "75daf69634180737",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "msg.payload = (msg.payload[msg.payload.length - 1] - msg.payload[0]) / 10\nmsg.payload = parseFloat(msg.payload).toFixed(2)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 200,
        "wires": [
            [
                "901bdc8269575d6e",
                "2ec43a67b4c2e1ea"
            ]
        ]
    },
    {
        "id": "2ec43a67b4c2e1ea",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 3,
        "width": 8,
        "height": 3,
        "gtype": "donut",
        "title": "Burner Temp Rate",
        "label": "oC/s",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1750,
        "y": 540,
        "wires": []
    },
    {
        "id": "553dd0dda979b64a",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "0f496279caf9fa34",
        "type": "batch",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "12",
        "allowEmptySequence": true,
        "topics": [],
        "x": 950,
        "y": 160,
        "wires": [
            [
                "0b67121da617393c"
            ]
        ]
    },
    {
        "id": "0b67121da617393c",
        "type": "join",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1110,
        "y": 160,
        "wires": [
            [
                "63e2f2236c31f576"
            ]
        ]
    },
    {
        "id": "63e2f2236c31f576",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "msg.payload = (msg.payload[msg.payload.length - 1] - msg.payload[0]) / 10\nmsg.payload = parseFloat(msg.payload).toFixed(2)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 160,
        "wires": [
            [
                "968b1f3544482c1b"
            ]
        ]
    },
    {
        "id": "968b1f3544482c1b",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 6,
        "width": 8,
        "height": 3,
        "gtype": "donut",
        "title": "SR_inlet Temp Rate",
        "label": "oC/s",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1760,
        "y": 500,
        "wires": []
    },
    {
        "id": "36c80670b488c8a5",
        "type": "exec",
        "z": "51d9a1627388b982",
        "command": "sudo systemctl start Threads_rasp-001.service",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Start python script",
        "x": 2270,
        "y": 60,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "578b9e7f4397850e",
        "type": "ui_switch",
        "z": "51d9a1627388b982",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "fb3f39af9de24080",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1950,
        "y": 120,
        "wires": [
            [
                "3561f2da7f83ad96"
            ]
        ]
    },
    {
        "id": "3561f2da7f83ad96",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2080,
        "y": 120,
        "wires": [
            [
                "36c80670b488c8a5"
            ],
            [
                "a2c469c52ef09888"
            ]
        ]
    },
    {
        "id": "a2c469c52ef09888",
        "type": "exec",
        "z": "51d9a1627388b982",
        "command": "sudo systemctl stop Threads_rasp-001.service",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Stop python script",
        "x": 2270,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "361c0c0d5a537701",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 9,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Pump",
        "label": "g/min",
        "format": "{{value}}",
        "min": 0,
        "max": "12",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 1400,
        "wires": []
    },
    {
        "id": "5cf6eccd2811a5b9",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var receive_msg = msg.payload;\nvar reply = {type:'text', text:'Testing a bot from nodered'};\nvar value = [receive_msg, reply];\n\nmsg.payload = value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 3020,
        "wires": [
            [
                "8c7f5aa6b2a497ed",
                "d4a2de591aaa364d"
            ]
        ]
    },
    {
        "id": "8c7f5aa6b2a497ed",
        "type": "linebot-client",
        "z": "51d9a1627388b982",
        "name": "RpiBot",
        "channelAccessToken": "Yvh6thecCFQJQruKb6j4IkQem083QrWEZl/yRIX0KPHj/pjp66aR/I1NoNIL+RtZX6cPWXZgLGNCEKBJkwWb/37fbXYEsd5Ue1oHmxU1FLPLBl49fAFTLT/lFipNTeCk10CQ3/TKR95hiqzp4B4mqwdB04t89/1O/w1cDnyilFU=",
        "channelSecret": "79618efd489c331fac01ae666870a0b7",
        "x": 730,
        "y": 3020,
        "wires": [
            []
        ]
    },
    {
        "id": "1d10a427e778f5d7",
        "type": "http in",
        "z": "51d9a1627388b982",
        "name": "",
        "url": "/callback",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 2960,
        "wires": [
            [
                "274548762838a356",
                "92c30fe00547cf63"
            ]
        ]
    },
    {
        "id": "274548762838a356",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "https",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 2920,
        "wires": []
    },
    {
        "id": "d4a2de591aaa364d",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "rpibot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 3160,
        "wires": []
    },
    {
        "id": "92c30fe00547cf63",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "KeyWord_rpi",
        "property": "payload.events[0].message.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Rpi",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 3020,
        "wires": [
            [
                "5cf6eccd2811a5b9",
                "ff1cbcd44e2244ef"
            ]
        ]
    },
    {
        "id": "ff1cbcd44e2244ef",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 400,
        "y": 3140,
        "wires": []
    },
    {
        "id": "7ac750261411fb2c",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "ADAM_TC",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "f3c08311aa21a2f1",
                "2f0a9b7b72a72aab"
            ]
        ]
    },
    {
        "id": "0260c937a5798556",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "DFM_AOG",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 2680,
        "wires": [
            [
                "2c24584d8595a489",
                "801b2d49e6aba463",
                "210f02426c904c37"
            ]
        ]
    },
    {
        "id": "2c24584d8595a489",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 2680,
        "wires": []
    },
    {
        "id": "801b2d49e6aba463",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2740,
        "wires": [
            [
                "863fe273668e898c"
            ]
        ]
    },
    {
        "id": "210f02426c904c37",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.DFM_AOG",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "ae38d5a695b1d318",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "Header_EVA",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "0e664487dd5c0305",
                "5621034438d0fc38",
                "e8fb5607ffc32ab7"
            ]
        ]
    },
    {
        "id": "742d6f984087b902",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "Header_BR",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "538a7367beecdcc9",
                "a3383568fdf1ca2a",
                "52f8909a94699551"
            ]
        ]
    },
    {
        "id": "a01c6478b5fb47f6",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "Header_EVA_SET",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 940,
        "wires": [
            [
                "bdd1864fd7e656dc",
                "679db6fc415fcb2a",
                "416dd316ce0b9156"
            ]
        ]
    },
    {
        "id": "7418385ff9175471",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "Header_BR_SET",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "2aec27ea14606277",
                "d63ad1172dd01db2",
                "9dad01262c168efd"
            ]
        ]
    },
    {
        "id": "4c5e72f216cdadc0",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "ADAM_SET",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "ef6d725216d3e2fe",
                "0bebef2dce053123"
            ]
        ]
    },
    {
        "id": "fb8a9a422e70170b",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "ADAM_READ",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "0ef7dee99e74510b",
                "db22996ff5a27d22"
            ]
        ]
    },
    {
        "id": "538a7367beecdcc9",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "Header_BR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 700,
        "wires": []
    },
    {
        "id": "52f8909a94699551",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.Header_BR",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "a3383568fdf1ca2a",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 760,
        "wires": [
            [
                "0ab9187a5115f0e0",
                "f5e78be3c1ee0a93",
                "ae29e39058290faf",
                "58e910bc523c7de5"
            ]
        ]
    },
    {
        "id": "ef6d725216d3e2fe",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "ADAM_SET",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 1320,
        "wires": []
    },
    {
        "id": "55328a6d8b494f43",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.ADAM_SET",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "0bebef2dce053123",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1380,
        "wires": [
            [
                "84ae3b08f6220661"
            ],
            [
                "5e5e900617c7098c",
                "43d91812d5c08b98",
                "c585674d032603b7"
            ],
            [
                "fb91e8a1baef0841"
            ],
            [
                "2892573169a2df05"
            ]
        ]
    },
    {
        "id": "0ef7dee99e74510b",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "ADAM_READ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 340,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7d9074b05aff4b49",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.ADAM_READ",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "db22996ff5a27d22",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1700,
        "wires": [
            [
                "9478dbaf4ae8ae38"
            ],
            [
                "5f9f6add5476c2c0",
                "7e23ef57d2c63744"
            ],
            [
                "dcccdc5ff7464167"
            ],
            [
                "dcccdc5ff7464167"
            ],
            [
                "dcccdc5ff7464167"
            ],
            [
                "323b3b84e39e99f9"
            ],
            [
                "27c5cf1eaf46922b"
            ],
            [
                "39aa33014c7fbc16"
            ]
        ]
    },
    {
        "id": "bdd1864fd7e656dc",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "Header_EVA_SET",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 880,
        "wires": []
    },
    {
        "id": "416dd316ce0b9156",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.Header_EVA_SET",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "679db6fc415fcb2a",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 940,
        "wires": [
            [
                "c7728c450856bed4",
                "2ca8cf4b58dcb971"
            ]
        ]
    },
    {
        "id": "2aec27ea14606277",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "Header_BR_SET",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9dad01262c168efd",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.Header_BR_SET",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "d63ad1172dd01db2",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1160,
        "wires": [
            [
                "58e910bc523c7de5"
            ]
        ]
    },
    {
        "id": "7cf1721f40761dc1",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "Scale",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 2040,
        "wires": [
            [
                "a3a3a9cdf7ef24ed",
                "2168df647166bd1b"
            ]
        ]
    },
    {
        "id": "a3a3a9cdf7ef24ed",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "Scale_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 2000,
        "wires": []
    },
    {
        "id": "2168df647166bd1b",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2080,
        "wires": [
            [
                "fd0f1d9ecd9dc429"
            ]
        ]
    },
    {
        "id": "e5e3c28eef9cb4cc",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "Scale",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 2000,
        "wires": []
    },
    {
        "id": "ba541e636e2494dc",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.Scale",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "16153b5b0f10634d",
        "type": "ui_gauge",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 10,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Scale",
        "label": "g/min",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1070,
        "y": 2080,
        "wires": []
    },
    {
        "id": "fd0f1d9ecd9dc429",
        "type": "batch",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "62",
        "allowEmptySequence": true,
        "topics": [],
        "x": 571.6666870117188,
        "y": 2080.333251953125,
        "wires": [
            [
                "a9fd700142552618"
            ]
        ]
    },
    {
        "id": "a9fd700142552618",
        "type": "join",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 731.6666870117188,
        "y": 2080.333251953125,
        "wires": [
            [
                "cd2870343af5954e",
                "e5e3c28eef9cb4cc"
            ]
        ]
    },
    {
        "id": "cd2870343af5954e",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "msg.payload = (msg.payload[0] - msg.payload[msg.payload.length - 1]) * 1000\nmsg.payload = parseFloat(msg.payload.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 901.6666870117188,
        "y": 2080.333251953125,
        "wires": [
            [
                "16153b5b0f10634d",
                "0117d31b391ceb01",
                "ba541e636e2494dc"
            ]
        ]
    },
    {
        "id": "0117d31b391ceb01",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1220,
        "y": 2020,
        "wires": []
    },
    {
        "id": "9df9c982c3acd79f",
        "type": "join",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "bf1bbf138e41befb"
            ]
        ]
    },
    {
        "id": "4fa9f1126721e294",
        "type": "join",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1150,
        "y": 1300,
        "wires": [
            [
                "55328a6d8b494f43",
                "770ec2dcaaf5f5e4"
            ]
        ]
    },
    {
        "id": "dcccdc5ff7464167",
        "type": "join",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1370,
        "y": 1660,
        "wires": [
            [
                "7d9074b05aff4b49",
                "a1e5dca1034c2259"
            ]
        ]
    },
    {
        "id": "47cbace1f063f615",
        "type": "join",
        "z": "51d9a1627388b982",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 850,
        "y": 2340,
        "wires": [
            [
                "fe5252a5124dc2a3",
                "69c238c20b5d1c8f"
            ]
        ]
    },
    {
        "id": "51f38ef1f5276f8f",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "NodeRed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 4460,
        "y": 460,
        "wires": []
    },
    {
        "id": "770ec2dcaaf5f5e4",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "spy3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1290,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a1e5dca1034c2259",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1550,
        "y": 1700,
        "wires": []
    },
    {
        "id": "69c238c20b5d1c8f",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 990,
        "y": 2420,
        "wires": []
    },
    {
        "id": "49b499f88c803133",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "spy",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1540,
        "wires": []
    },
    {
        "id": "555c1e6d0b869c3f",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "spy2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 880,
        "y": 1220,
        "wires": []
    },
    {
        "id": "1b7f7e50a6442b99",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1320,
        "y": 1760,
        "wires": []
    },
    {
        "id": "1b6613b15b9bcbb8",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1320,
        "y": 1840,
        "wires": []
    },
    {
        "id": "7e23ef57d2c63744",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 340,
        "y": 1880,
        "wires": []
    },
    {
        "id": "328b020dbef4c8d5",
        "type": "mqtt out",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "NodeRed",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8aea8534f5e2a70",
        "x": 4460,
        "y": 520,
        "wires": []
    },
    {
        "id": "653bff1862bc9777",
        "type": "mqtt in",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "NodeRed",
        "qos": "0",
        "datatype": "auto",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": false,
        "x": 4660,
        "y": 520,
        "wires": [
            [
                "bc0a1917f0a49e8c"
            ]
        ]
    },
    {
        "id": "bc0a1917f0a49e8c",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "NodeRed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 4800,
        "y": 520,
        "wires": []
    },
    {
        "id": "06e65152bd20824e",
        "type": "ui_text_input",
        "z": "51d9a1627388b982",
        "name": "",
        "label": "Air_MFC (0-250LPM)",
        "tooltip": "0-250LPM",
        "group": "fb3f39af9de24080",
        "order": 3,
        "width": 9,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "topicType": "str",
        "x": 2800,
        "y": 160,
        "wires": [
            [
                "68c3da10f33b6cd6",
                "f0ab173f29408ca5"
            ]
        ]
    },
    {
        "id": "7d230f92a6086c23",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "0-250LPM",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "250",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "250",
                "v2t": "num"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 3190,
        "y": 260,
        "wires": [
            [
                "d3e195ee4fcb372b",
                "bb54cb3c32dea9ee"
            ],
            [
                "d3e195ee4fcb372b",
                "bb54cb3c32dea9ee"
            ],
            [
                "d9d469f827430dc2",
                "492344664282c662"
            ],
            []
        ]
    },
    {
        "id": "834c99a8875b924e",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "=0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3170,
        "y": 120,
        "wires": [
            [
                "06e65152bd20824e"
            ]
        ]
    },
    {
        "id": "9b88f6cb504ba6c4",
        "type": "ui_text_input",
        "z": "51d9a1627388b982",
        "name": "",
        "label": "PCB (0-100%)",
        "tooltip": "0-100%",
        "group": "fb3f39af9de24080",
        "order": 23,
        "width": 9,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "topicType": "str",
        "x": 2860,
        "y": 1440,
        "wires": [
            [
                "629002d89c5bbec4"
            ]
        ]
    },
    {
        "id": "da48ee5d9ce10154",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "0-100%",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 3180,
        "y": 1520,
        "wires": [
            [
                "279f4a658244d259",
                "5276c434e95506ae"
            ],
            [
                "279f4a658244d259",
                "5276c434e95506ae"
            ],
            [
                "b1bb4b71840a60bb",
                "2e48af1ceae1996a"
            ],
            []
        ]
    },
    {
        "id": "d3720d13d207d990",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "=100",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3170,
        "y": 1380,
        "wires": [
            [
                "9b88f6cb504ba6c4"
            ]
        ]
    },
    {
        "id": "d9d469f827430dc2",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set.Air_MFC_SET_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3450,
        "y": 280,
        "wires": [
            [
                "728135f1dcd38856"
            ]
        ]
    },
    {
        "id": "62c000a804102352",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "25 LPM-Air",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "25",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2570,
        "y": 40,
        "wires": [
            [
                "06e65152bd20824e"
            ]
        ]
    },
    {
        "id": "725335d90d4a3f51",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "38.5 LPM-Air",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "38.5",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2570,
        "y": 80,
        "wires": [
            [
                "06e65152bd20824e"
            ]
        ]
    },
    {
        "id": "2b78b0a022f0b4ec",
        "type": "ui_text_input",
        "z": "51d9a1627388b982",
        "name": "",
        "label": "Pump_BR (0-10 g/min)",
        "tooltip": "0-10 [g/min]",
        "group": "fb3f39af9de24080",
        "order": 16,
        "width": 9,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "topicType": "str",
        "x": 2860,
        "y": 1040,
        "wires": [
            [
                "776aafa15bd6d7df"
            ]
        ]
    },
    {
        "id": "42b78c4141037ff0",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "0-10g/min",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "10",
                "v2t": "num"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 3200,
        "y": 1120,
        "wires": [
            [
                "cc40bfd9c661836f",
                "f6b4bb11e4457eac"
            ],
            [
                "cc40bfd9c661836f",
                "f6b4bb11e4457eac"
            ],
            [
                "d2efb279afe8b78b",
                "a70b5bfba9eae848"
            ],
            []
        ]
    },
    {
        "id": "ecbd447d3ffe04da",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 19,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "4 [g/min] MeOH ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2580,
        "y": 920,
        "wires": [
            [
                "2b78b0a022f0b4ec"
            ]
        ]
    },
    {
        "id": "3359c744ba6b2646",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 20,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "6.1 [g/min] MeOH",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6.1",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2590,
        "y": 960,
        "wires": [
            [
                "2b78b0a022f0b4ec"
            ]
        ]
    },
    {
        "id": "6c15b21601db5b2a",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 21,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "9.2 [g/min] MeOH",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "9.2",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2590,
        "y": 1000,
        "wires": [
            [
                "2b78b0a022f0b4ec"
            ]
        ]
    },
    {
        "id": "0762692079d99dee",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "57 LPM-Air",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "57",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2570,
        "y": 120,
        "wires": [
            [
                "06e65152bd20824e"
            ]
        ]
    },
    {
        "id": "6ee604bb04255a8a",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "100 LPM-Air",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "100",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2570,
        "y": 160,
        "wires": [
            [
                "06e65152bd20824e"
            ]
        ]
    },
    {
        "id": "c423b2548f85e03a",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 14,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "150 LPM-Air",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "150",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2570,
        "y": 200,
        "wires": [
            [
                "06e65152bd20824e"
            ]
        ]
    },
    {
        "id": "397865dd8ba9a838",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 26,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "0% (Full open to AOG) ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2580,
        "y": 1360,
        "wires": [
            [
                "9b88f6cb504ba6c4"
            ]
        ]
    },
    {
        "id": "c283ed7d777fce1c",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 27,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "100% (Full open to vent)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "100",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2590,
        "y": 1400,
        "wires": [
            [
                "9b88f6cb504ba6c4"
            ]
        ]
    },
    {
        "id": "d2efb279afe8b78b",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set.Pump_SET_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3440,
        "y": 1120,
        "wires": [
            [
                "9cad51d280716391"
            ]
        ]
    },
    {
        "id": "b1bb4b71840a60bb",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set.PCB_SET_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3450,
        "y": 1520,
        "wires": [
            [
                "5328b06787bad66e"
            ]
        ]
    },
    {
        "id": "9af30707222648de",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "set flow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 4660,
        "y": 100,
        "wires": []
    },
    {
        "id": "d3f8636fba24f279",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4340,
        "y": 160,
        "wires": [
            [
                "d2dd2c9ee8e35d7c"
            ]
        ]
    },
    {
        "id": "7955bfa9668d3829",
        "type": "inject",
        "z": "51d9a1627388b982",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "init",
        "payloadType": "date",
        "x": 1960,
        "y": 180,
        "wires": [
            [
                "a2c469c52ef09888",
                "c26a53e9bb47bf34"
            ]
        ]
    },
    {
        "id": "c26a53e9bb47bf34",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "init_out",
        "links": [
            "09cdfda7e5d4eef2",
            "6e29492dfbfcf82d",
            "495950554bf45975",
            "784e33e663b6d212",
            "9cb6cbc13c163989",
            "9cfff73659f75465",
            "8723b8763d06c93c"
        ],
        "x": 2095,
        "y": 240,
        "wires": []
    },
    {
        "id": "80fb3035b2aeaf36",
        "type": "mqtt out",
        "z": "51d9a1627388b982",
        "name": "",
        "topic": "Set_bit",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8aea8534f5e2a70",
        "x": 4700,
        "y": 260,
        "wires": []
    },
    {
        "id": "07aa718300ae21e7",
        "type": "ui_toast",
        "z": "51d9a1627388b982",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "MQTT pub",
        "name": "MQTT pub",
        "x": 4910,
        "y": 220,
        "wires": []
    },
    {
        "id": "8a0c8ed070633cba",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.Set",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4700,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "73b1d35641b25ed8",
        "type": "mqtt in",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "topic": "Manual_Input",
        "qos": "0",
        "datatype": "auto",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": false,
        "x": 2450,
        "y": 400,
        "wires": [
            [
                "17375528bb8dad00"
            ]
        ]
    },
    {
        "id": "17375528bb8dad00",
        "type": "debug",
        "z": "80fed7c6aa4d30d0",
        "name": "nodered_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2690,
        "y": 400,
        "wires": []
    },
    {
        "id": "f62dd3ca40e9d586",
        "type": "mqtt out",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "topic": "Manual_Input",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8aea8534f5e2a70",
        "x": 2220,
        "y": 400,
        "wires": []
    },
    {
        "id": "7b987c4b7f06d4bf",
        "type": "ui_form",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "label": "Manual_Input",
        "group": "f7b9b84f65a2452b",
        "order": 4,
        "width": 15,
        "height": 1,
        "options": [
            {
                "label": "Header_EVA_SV (>=0 oC)",
                "value": "Header_EVA_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Header_BR_SV (>=0 oC)",
                "value": "Header_BR_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "PCB_SET_SV (0-100%)",
                "value": "PCB_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Pump_SET_SV (0-120 cc/min)",
                "value": "Pump_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Air_MFC_SET_SV (0-250 LPM)",
                "value": "Air_MFC_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "H2_MFC_SET_SV (0-100 LPM)",
                "value": "H2_MFC_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Header_EVA_SV": "",
            "Header_BR_SV": "",
            "PCB_SET_SV": "",
            "Pump_SET_SV": "",
            "Air_MFC_SET_SV": "",
            "H2_MFC_SET_SV": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "x": 520,
        "y": 520,
        "wires": [
            [
                "5922f0266aca4e18",
                "aaae5d0bfa1ba085",
                "591d4e526bbce490"
            ]
        ]
    },
    {
        "id": "aaae5d0bfa1ba085",
        "type": "debug",
        "z": "80fed7c6aa4d30d0",
        "name": "form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "5922f0266aca4e18",
        "type": "split",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 690,
        "y": 520,
        "wires": [
            [
                "b283e314fc515f47",
                "953bf0eb4fdcd854"
            ]
        ]
    },
    {
        "id": "b283e314fc515f47",
        "type": "switch",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Header_EVA_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Header_BR_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PCB_SET_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pump_SET_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Air_MFC_SET_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "H2_MFC_SET_SV",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 870,
        "y": 520,
        "wires": [
            [
                "213a7d9c9dc4a80c"
            ],
            [
                "97534dc561f1437d"
            ],
            [
                "42526c4a82ec3eac"
            ],
            [
                "66ccfc14d584c16a"
            ],
            [
                "fe9b4a0717f42265"
            ],
            [
                "daf8d16023f408e7"
            ]
        ]
    },
    {
        "id": "97534dc561f1437d",
        "type": "switch",
        "z": "80fed7c6aa4d30d0",
        "name": "Header_BR cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1150,
        "y": 380,
        "wires": [
            [
                "5507a820fc5e882b"
            ],
            [
                "44193cd74c3aed93"
            ],
            [
                "2d20c3571adb1c7c"
            ]
        ]
    },
    {
        "id": "44193cd74c3aed93",
        "type": "join",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2010,
        "y": 340,
        "wires": [
            [
                "4cbaa46926c342e6",
                "f62dd3ca40e9d586",
                "a51eef0ee722fa63"
            ]
        ]
    },
    {
        "id": "17faba750bc2f9a9",
        "type": "change",
        "z": "80fed7c6aa4d30d0",
        "name": "Set Null to 2047",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2047",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 660,
        "wires": [
            [
                "44193cd74c3aed93"
            ]
        ]
    },
    {
        "id": "42526c4a82ec3eac",
        "type": "switch",
        "z": "80fed7c6aa4d30d0",
        "name": "PCB",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "17faba750bc2f9a9"
            ],
            [
                "1b059f26314128c8"
            ],
            [
                "2d20c3571adb1c7c"
            ],
            [
                "2d20c3571adb1c7c"
            ]
        ]
    },
    {
        "id": "66ccfc14d584c16a",
        "type": "switch",
        "z": "80fed7c6aa4d30d0",
        "name": "KNF Pump Cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "120",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "120",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "17faba750bc2f9a9"
            ],
            [
                "b34ac5bb74047753",
                "e51a446ebcd5c35a"
            ],
            [
                "2d20c3571adb1c7c"
            ],
            [
                "2d20c3571adb1c7c"
            ]
        ]
    },
    {
        "id": "fe9b4a0717f42265",
        "type": "switch",
        "z": "80fed7c6aa4d30d0",
        "name": "250-MFC Cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "250",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "250",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1140,
        "y": 600,
        "wires": [
            [
                "17faba750bc2f9a9"
            ],
            [
                "60e8ea34b49c0487"
            ],
            [
                "2d20c3571adb1c7c"
            ],
            [
                "2d20c3571adb1c7c"
            ],
            [
                "f184e161d90af174"
            ]
        ]
    },
    {
        "id": "daf8d16023f408e7",
        "type": "switch",
        "z": "80fed7c6aa4d30d0",
        "name": "100-MFC Cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1140,
        "y": 680,
        "wires": [
            [
                "17faba750bc2f9a9"
            ],
            [
                "01fa960d84babe33"
            ],
            [
                "2d20c3571adb1c7c"
            ],
            [
                "2d20c3571adb1c7c"
            ]
        ]
    },
    {
        "id": "4cbaa46926c342e6",
        "type": "debug",
        "z": "80fed7c6aa4d30d0",
        "name": "MQTT pub",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2210,
        "y": 460,
        "wires": []
    },
    {
        "id": "953bf0eb4fdcd854",
        "type": "debug",
        "z": "80fed7c6aa4d30d0",
        "name": "split set",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 620,
        "wires": []
    },
    {
        "id": "2d20c3571adb1c7c",
        "type": "ui_toast",
        "z": "80fed7c6aa4d30d0",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Again",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Wrong Set",
        "x": 1610,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ab68f506023dafb2",
        "type": "ui_toast",
        "z": "80fed7c6aa4d30d0",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "MQTT pub",
        "name": "MQTT pub",
        "x": 2450,
        "y": 340,
        "wires": []
    },
    {
        "id": "a51eef0ee722fa63",
        "type": "change",
        "z": "80fed7c6aa4d30d0",
        "name": "Sending to RPi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sending to RPi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2220,
        "y": 340,
        "wires": [
            [
                "ab68f506023dafb2"
            ]
        ]
    },
    {
        "id": "213a7d9c9dc4a80c",
        "type": "switch",
        "z": "80fed7c6aa4d30d0",
        "name": "Header_EVA cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1150,
        "y": 320,
        "wires": [
            [
                "5507a820fc5e882b"
            ],
            [
                "44193cd74c3aed93"
            ],
            [
                "2d20c3571adb1c7c"
            ]
        ]
    },
    {
        "id": "1b059f26314128c8",
        "type": "range",
        "z": "80fed7c6aa4d30d0",
        "minin": "0",
        "maxin": "100",
        "minout": "2047",
        "maxout": "4095",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-100% to 0-10V (12bits)",
        "x": 1650,
        "y": 420,
        "wires": [
            [
                "44193cd74c3aed93"
            ]
        ]
    },
    {
        "id": "b34ac5bb74047753",
        "type": "range",
        "z": "80fed7c6aa4d30d0",
        "d": true,
        "minin": "0",
        "maxin": "120",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-120 to 0-5V (12bits)",
        "x": 1640,
        "y": 460,
        "wires": [
            [
                "44193cd74c3aed93",
                "85343ec0cdde3ab5"
            ]
        ]
    },
    {
        "id": "60e8ea34b49c0487",
        "type": "range",
        "z": "80fed7c6aa4d30d0",
        "minin": "0",
        "maxin": "250",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-250 to 0-5V (12bits)",
        "x": 1640,
        "y": 540,
        "wires": [
            [
                "44193cd74c3aed93"
            ]
        ]
    },
    {
        "id": "01fa960d84babe33",
        "type": "range",
        "z": "80fed7c6aa4d30d0",
        "minin": "0",
        "maxin": "100",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-100 to 0-5V (12bits)",
        "x": 1640,
        "y": 580,
        "wires": [
            [
                "44193cd74c3aed93"
            ]
        ]
    },
    {
        "id": "85343ec0cdde3ab5",
        "type": "debug",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2030,
        "y": 580,
        "wires": []
    },
    {
        "id": "5507a820fc5e882b",
        "type": "change",
        "z": "80fed7c6aa4d30d0",
        "name": "Set null to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 620,
        "wires": [
            [
                "44193cd74c3aed93"
            ]
        ]
    },
    {
        "id": "591d4e526bbce490",
        "type": "change",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NodeRed.Manual_Input",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e51a446ebcd5c35a",
        "type": "function",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "func": "msg.payload = (msg.payload - 1.04) / 14.3\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 500,
        "wires": [
            [
                "85343ec0cdde3ab5",
                "d5c5404c3f893a22"
            ]
        ]
    },
    {
        "id": "d5c5404c3f893a22",
        "type": "range",
        "z": "80fed7c6aa4d30d0",
        "minin": "0",
        "maxin": "5",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1750,
        "y": 500,
        "wires": [
            [
                "44193cd74c3aed93"
            ]
        ]
    },
    {
        "id": "f184e161d90af174",
        "type": "ui_toast",
        "z": "80fed7c6aa4d30d0",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Noticed",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "BW reformer air 200LPM max",
        "x": 1670,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "664799f11d99e051",
        "type": "ui_toast",
        "z": "51d9a1627388b982",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Wrong Set",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Wrong Set",
        "x": 4370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d3e195ee4fcb372b",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "wrong_set_out",
        "links": [
            "fa21785195c7ad34"
        ],
        "x": 3335,
        "y": 360,
        "wires": []
    },
    {
        "id": "fa21785195c7ad34",
        "type": "link in",
        "z": "51d9a1627388b982",
        "name": "wrong_set_in",
        "links": [
            "d3e195ee4fcb372b",
            "cc40bfd9c661836f",
            "279f4a658244d259",
            "a0de2d42a9e17d4c",
            "8db0714cc687b187",
            "d4597cca6d504d4f"
        ],
        "x": 4175,
        "y": 60,
        "wires": [
            [
                "664799f11d99e051"
            ]
        ]
    },
    {
        "id": "cc40bfd9c661836f",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "wrong_set_out",
        "links": [
            "fa21785195c7ad34"
        ],
        "x": 3335,
        "y": 1200,
        "wires": []
    },
    {
        "id": "279f4a658244d259",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "wrong_set_out",
        "links": [
            "fa21785195c7ad34"
        ],
        "x": 3365,
        "y": 1660,
        "wires": []
    },
    {
        "id": "bb54cb3c32dea9ee",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "As last one",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set.Air_MFC_SET_SV",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3390,
        "y": 240,
        "wires": [
            [
                "06e65152bd20824e"
            ]
        ]
    },
    {
        "id": "f6b4bb11e4457eac",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "As last one",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set.Pump_SET_SV",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3390,
        "y": 1080,
        "wires": [
            [
                "2b78b0a022f0b4ec"
            ]
        ]
    },
    {
        "id": "5276c434e95506ae",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "As last one",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set.PCB_SET_SV",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3400,
        "y": 1480,
        "wires": [
            [
                "9b88f6cb504ba6c4"
            ]
        ]
    },
    {
        "id": "492344664282c662",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "0",
        "maxin": "250",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-250 to 0-5V (12bits)",
        "x": 3420,
        "y": 320,
        "wires": [
            [
                "66ee7dfa0ad13b91"
            ]
        ]
    },
    {
        "id": "66ee7dfa0ad13b91",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set_bit.Air_MFC_SET_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3700,
        "y": 320,
        "wires": [
            [
                "c8ef431d11c5e86b"
            ]
        ]
    },
    {
        "id": "c8ef431d11c5e86b",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_bit_out",
        "links": [
            "188fca0cec60dbbe"
        ],
        "x": 3945,
        "y": 320,
        "wires": []
    },
    {
        "id": "188fca0cec60dbbe",
        "type": "link in",
        "z": "51d9a1627388b982",
        "name": "set_bit_in",
        "links": [
            "c8ef431d11c5e86b",
            "b0952fbfacd44d9e",
            "b87e876a8db7c17b",
            "f1013329d8171b20",
            "1fdeb8108f22d3fb",
            "fd42d96941012ad2"
        ],
        "x": 4175,
        "y": 260,
        "wires": [
            [
                "a76069062cda7d0e"
            ]
        ]
    },
    {
        "id": "728135f1dcd38856",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_out",
        "links": [
            "7974035af43fd2fd"
        ],
        "x": 3655,
        "y": 280,
        "wires": []
    },
    {
        "id": "7974035af43fd2fd",
        "type": "link in",
        "z": "51d9a1627388b982",
        "name": "set_in",
        "links": [
            "728135f1dcd38856",
            "9cad51d280716391",
            "5328b06787bad66e",
            "fdf325415fa69878",
            "176fdb7374173bca",
            "1a521a862f01008f"
        ],
        "x": 4175,
        "y": 160,
        "wires": [
            [
                "d3f8636fba24f279"
            ]
        ]
    },
    {
        "id": "9cad51d280716391",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_out",
        "links": [
            "7974035af43fd2fd"
        ],
        "x": 3635,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5328b06787bad66e",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_out",
        "links": [
            "7974035af43fd2fd"
        ],
        "x": 3665,
        "y": 1520,
        "wires": []
    },
    {
        "id": "72cbb208ec799444",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "set_bit flow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 4710,
        "y": 320,
        "wires": []
    },
    {
        "id": "a76069062cda7d0e",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set_bit",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Set_bit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4340,
        "y": 260,
        "wires": [
            [
                "b8522d22a2033f85"
            ]
        ]
    },
    {
        "id": "2e48af1ceae1996a",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "0",
        "maxin": "100",
        "minout": "2047",
        "maxout": "4095",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-100% to 0-10V (12bits)",
        "x": 3440,
        "y": 1560,
        "wires": [
            [
                "84c69bc1381eb987"
            ]
        ]
    },
    {
        "id": "84c69bc1381eb987",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set_bit.PCB_SET_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3740,
        "y": 1560,
        "wires": [
            [
                "b0952fbfacd44d9e"
            ]
        ]
    },
    {
        "id": "b0952fbfacd44d9e",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_bit_out",
        "links": [
            "188fca0cec60dbbe"
        ],
        "x": 3935,
        "y": 1560,
        "wires": []
    },
    {
        "id": "68c3da10f33b6cd6",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2950,
        "y": 240,
        "wires": []
    },
    {
        "id": "09cdfda7e5d4eef2",
        "type": "link in",
        "z": "51d9a1627388b982",
        "name": "init out",
        "links": [
            "c26a53e9bb47bf34"
        ],
        "x": 2635,
        "y": 240,
        "wires": [
            [
                "06e65152bd20824e",
                "320171af0c177ee1"
            ]
        ]
    },
    {
        "id": "320171af0c177ee1",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2780,
        "y": 240,
        "wires": []
    },
    {
        "id": "f0ab173f29408ca5",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3010,
        "y": 160,
        "wires": [
            [
                "834c99a8875b924e"
            ],
            [
                "7d230f92a6086c23"
            ]
        ]
    },
    {
        "id": "495950554bf45975",
        "type": "link in",
        "z": "51d9a1627388b982",
        "name": "init out",
        "links": [
            "c26a53e9bb47bf34"
        ],
        "x": 2655,
        "y": 1100,
        "wires": [
            [
                "2b78b0a022f0b4ec"
            ]
        ]
    },
    {
        "id": "776aafa15bd6d7df",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3050,
        "y": 1040,
        "wires": [
            [
                "19c4d9ef0c9dc189"
            ],
            [
                "42b78c4141037ff0"
            ]
        ]
    },
    {
        "id": "19c4d9ef0c9dc189",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "=0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3190,
        "y": 980,
        "wires": [
            [
                "2b78b0a022f0b4ec"
            ]
        ]
    },
    {
        "id": "a70b5bfba9eae848",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "if (msg.payload < 1.04) {\n  msg.payload = 0;\n} else {\n  msg.payload = (msg.payload - 1.04) / 14.3 ;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3370,
        "y": 1160,
        "wires": [
            [
                "e1ea1bf7d773a1ec"
            ]
        ]
    },
    {
        "id": "e1ea1bf7d773a1ec",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "0",
        "maxin": "5",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 3520,
        "y": 1160,
        "wires": [
            [
                "4acab60ea04d16e4"
            ]
        ]
    },
    {
        "id": "4acab60ea04d16e4",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set_bit.Pump_SET_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3760,
        "y": 1160,
        "wires": [
            [
                "b87e876a8db7c17b"
            ]
        ]
    },
    {
        "id": "b87e876a8db7c17b",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_bit_out",
        "links": [
            "188fca0cec60dbbe"
        ],
        "x": 3975,
        "y": 1160,
        "wires": []
    },
    {
        "id": "629002d89c5bbec4",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3030,
        "y": 1440,
        "wires": [
            [
                "d3720d13d207d990"
            ],
            [
                "da48ee5d9ce10154"
            ]
        ]
    },
    {
        "id": "784e33e663b6d212",
        "type": "link in",
        "z": "51d9a1627388b982",
        "name": "init out",
        "links": [
            "c26a53e9bb47bf34"
        ],
        "x": 2675,
        "y": 1540,
        "wires": [
            [
                "9b88f6cb504ba6c4"
            ]
        ]
    },
    {
        "id": "529b4b044354d7cc",
        "type": "ui_text_input",
        "z": "51d9a1627388b982",
        "name": "",
        "label": "H2_MFC (0-100LPM)",
        "tooltip": "0-100LPM",
        "group": "fb3f39af9de24080",
        "order": 5,
        "width": 9,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "topicType": "str",
        "x": 2800,
        "y": 560,
        "wires": [
            [
                "e9aa1e9ace78f81e"
            ]
        ]
    },
    {
        "id": "a1754031b8711ac2",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "0-100LPM",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 3190,
        "y": 660,
        "wires": [
            [
                "a0de2d42a9e17d4c",
                "4441fd0dbd93b353"
            ],
            [
                "a0de2d42a9e17d4c",
                "4441fd0dbd93b353"
            ],
            [
                "84d8da45f7ca7ca7",
                "4370e4196eb5a999"
            ],
            []
        ]
    },
    {
        "id": "37308c5ba4adc909",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "=0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3170,
        "y": 520,
        "wires": [
            [
                "529b4b044354d7cc"
            ]
        ]
    },
    {
        "id": "84d8da45f7ca7ca7",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set.H2_MFC_SET_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3450,
        "y": 680,
        "wires": [
            [
                "fdf325415fa69878"
            ]
        ]
    },
    {
        "id": "1e948d9e1ac229d8",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "25 LPM-H2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "25",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2570,
        "y": 440,
        "wires": [
            [
                "529b4b044354d7cc"
            ]
        ]
    },
    {
        "id": "5a34664392c4a469",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "50 LPM-H2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "50",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2570,
        "y": 500,
        "wires": [
            [
                "529b4b044354d7cc"
            ]
        ]
    },
    {
        "id": "06e4a966064fdc0c",
        "type": "ui_button",
        "z": "51d9a1627388b982",
        "name": "",
        "group": "fb3f39af9de24080",
        "order": 12,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "100 LPM-H2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "100",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 2570,
        "y": 560,
        "wires": [
            [
                "529b4b044354d7cc"
            ]
        ]
    },
    {
        "id": "a0de2d42a9e17d4c",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "wrong_set_out",
        "links": [
            "fa21785195c7ad34"
        ],
        "x": 3335,
        "y": 760,
        "wires": []
    },
    {
        "id": "4441fd0dbd93b353",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "As last one",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set.Air_MFC_SET_SV",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3390,
        "y": 640,
        "wires": [
            [
                "529b4b044354d7cc"
            ]
        ]
    },
    {
        "id": "4370e4196eb5a999",
        "type": "range",
        "z": "51d9a1627388b982",
        "minin": "0",
        "maxin": "100",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-100 to 0-5V (12bits)",
        "x": 3420,
        "y": 720,
        "wires": [
            [
                "a027702ed05566fc"
            ]
        ]
    },
    {
        "id": "a027702ed05566fc",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set_bit.H2_MFC_SET_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3700,
        "y": 720,
        "wires": [
            [
                "f1013329d8171b20"
            ]
        ]
    },
    {
        "id": "f1013329d8171b20",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_bit_out",
        "links": [
            "188fca0cec60dbbe"
        ],
        "x": 3945,
        "y": 720,
        "wires": []
    },
    {
        "id": "fdf325415fa69878",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_out",
        "links": [
            "7974035af43fd2fd"
        ],
        "x": 3655,
        "y": 680,
        "wires": []
    },
    {
        "id": "9cb6cbc13c163989",
        "type": "link in",
        "z": "51d9a1627388b982",
        "name": "init out",
        "links": [
            "c26a53e9bb47bf34"
        ],
        "x": 2635,
        "y": 640,
        "wires": [
            [
                "529b4b044354d7cc"
            ]
        ]
    },
    {
        "id": "e9aa1e9ace78f81e",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3010,
        "y": 560,
        "wires": [
            [
                "37308c5ba4adc909"
            ],
            [
                "a1754031b8711ac2"
            ]
        ]
    },
    {
        "id": "0faf491abe19e09b",
        "type": "ui_text_input",
        "z": "51d9a1627388b982",
        "name": "",
        "label": "Header_EVA_SV (>=0)",
        "tooltip": ">=0",
        "group": "fb3f39af9de24080",
        "order": 25,
        "width": 9,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "topicType": "str",
        "x": 2850,
        "y": 1840,
        "wires": [
            [
                "f58588f328397322"
            ]
        ]
    },
    {
        "id": "b1dbd2c49d9c3a2a",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "0-250oC",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "250",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "250",
                "v2t": "num"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 3180,
        "y": 1920,
        "wires": [
            [
                "8db0714cc687b187",
                "a78824dd571c3ff0"
            ],
            [
                "8db0714cc687b187",
                "a78824dd571c3ff0"
            ],
            [
                "999128af4de7df40",
                "39055b1be78310b7"
            ],
            []
        ]
    },
    {
        "id": "ee32d0ad8a46a9eb",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "=0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3170,
        "y": 1780,
        "wires": [
            [
                "0faf491abe19e09b"
            ]
        ]
    },
    {
        "id": "999128af4de7df40",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set.Header_EVA_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3460,
        "y": 1920,
        "wires": [
            [
                "176fdb7374173bca"
            ]
        ]
    },
    {
        "id": "8db0714cc687b187",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "wrong_set_out",
        "links": [
            "fa21785195c7ad34"
        ],
        "x": 3365,
        "y": 2060,
        "wires": []
    },
    {
        "id": "a78824dd571c3ff0",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "As last one",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set.PCB_SET_SV",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3400,
        "y": 1880,
        "wires": [
            [
                "0faf491abe19e09b"
            ]
        ]
    },
    {
        "id": "176fdb7374173bca",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_out",
        "links": [
            "7974035af43fd2fd"
        ],
        "x": 3665,
        "y": 1920,
        "wires": []
    },
    {
        "id": "39055b1be78310b7",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set_bit.Header_EVA_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3480,
        "y": 1960,
        "wires": [
            [
                "1fdeb8108f22d3fb"
            ]
        ]
    },
    {
        "id": "1fdeb8108f22d3fb",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_bit_out",
        "links": [
            "188fca0cec60dbbe"
        ],
        "x": 3715,
        "y": 1960,
        "wires": []
    },
    {
        "id": "f58588f328397322",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3030,
        "y": 1840,
        "wires": [
            [
                "ee32d0ad8a46a9eb"
            ],
            [
                "b1dbd2c49d9c3a2a"
            ]
        ]
    },
    {
        "id": "9cfff73659f75465",
        "type": "link in",
        "z": "51d9a1627388b982",
        "name": "init out",
        "links": [
            "c26a53e9bb47bf34"
        ],
        "x": 2655,
        "y": 1880,
        "wires": [
            [
                "0faf491abe19e09b"
            ]
        ]
    },
    {
        "id": "bd6726f8d9cba314",
        "type": "ui_text_input",
        "z": "51d9a1627388b982",
        "name": "",
        "label": "Header_BR_SV (>=0)",
        "tooltip": ">=0",
        "group": "fb3f39af9de24080",
        "order": 18,
        "width": 9,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "topicType": "str",
        "x": 2840,
        "y": 2200,
        "wires": [
            [
                "f1aec3aea084801f"
            ]
        ]
    },
    {
        "id": "f1ee8bd3bfe544ca",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "0-250oC",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "250",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "250",
                "v2t": "num"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 3180,
        "y": 2280,
        "wires": [
            [
                "d4597cca6d504d4f",
                "7ccaf9a21202a129"
            ],
            [
                "d4597cca6d504d4f",
                "7ccaf9a21202a129"
            ],
            [
                "cbe563132fe6789d",
                "0633af5254906d13"
            ],
            []
        ]
    },
    {
        "id": "30817c02630dad2d",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "=0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3170,
        "y": 2140,
        "wires": [
            [
                "bd6726f8d9cba314"
            ]
        ]
    },
    {
        "id": "cbe563132fe6789d",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set.Header_BR_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3460,
        "y": 2280,
        "wires": [
            [
                "1a521a862f01008f"
            ]
        ]
    },
    {
        "id": "d4597cca6d504d4f",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "wrong_set_out",
        "links": [
            "fa21785195c7ad34"
        ],
        "x": 3365,
        "y": 2420,
        "wires": []
    },
    {
        "id": "7ccaf9a21202a129",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "As last one",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set.PCB_SET_SV",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3400,
        "y": 2240,
        "wires": [
            [
                "bd6726f8d9cba314"
            ]
        ]
    },
    {
        "id": "1a521a862f01008f",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_out",
        "links": [
            "7974035af43fd2fd"
        ],
        "x": 3665,
        "y": 2280,
        "wires": []
    },
    {
        "id": "0633af5254906d13",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Set_bit.Header_BR_SV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3480,
        "y": 2320,
        "wires": [
            [
                "fd42d96941012ad2"
            ]
        ]
    },
    {
        "id": "fd42d96941012ad2",
        "type": "link out",
        "z": "51d9a1627388b982",
        "name": "set_bit_out",
        "links": [
            "188fca0cec60dbbe"
        ],
        "x": 3715,
        "y": 2320,
        "wires": []
    },
    {
        "id": "f1aec3aea084801f",
        "type": "switch",
        "z": "51d9a1627388b982",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3030,
        "y": 2200,
        "wires": [
            [
                "30817c02630dad2d"
            ],
            [
                "f1ee8bd3bfe544ca"
            ]
        ]
    },
    {
        "id": "8723b8763d06c93c",
        "type": "link in",
        "z": "51d9a1627388b982",
        "name": "init out",
        "links": [
            "c26a53e9bb47bf34"
        ],
        "x": 2675,
        "y": 2240,
        "wires": [
            [
                "bd6726f8d9cba314"
            ]
        ]
    },
    {
        "id": "0e1fc816b016be8f",
        "type": "function",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "func": "var lst = [msg.Manual_Input, msg.Setup_port, msg.RS485_port, msg.Scale_port, msg.RS232_port, msg.GPIO_port]\nvar len = lst.length;\nmsg.lst = []\n\nfor (var i = 0; i < len; i++) {\n    for (var key in lst[i]) {\n        if (lst[i].hasOwnProperty(key)) {\n            msg.lst.push(lst[i][key])\n        }\n    }\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 940,
        "wires": [
            [
                "8e78edd3a81a1e9a"
            ]
        ]
    },
    {
        "id": "8e78edd3a81a1e9a",
        "type": "change",
        "z": "80fed7c6aa4d30d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "lst",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 940,
        "wires": [
            [
                "fb073055686822b1"
            ]
        ]
    },
    {
        "id": "fb073055686822b1",
        "type": "GSheet",
        "z": "80fed7c6aa4d30d0",
        "d": true,
        "creds": "700453c3.f1167c",
        "method": "append",
        "action": "",
        "sheet": "1lOTmshcxpiFN5gS1Imb9cQJEx7GGZsbWBz4XVL5EG4w",
        "cells": "Sheet1",
        "flatten": false,
        "name": "",
        "x": 1040,
        "y": 940,
        "wires": [
            [
                "8d39a83e02550c31"
            ]
        ]
    },
    {
        "id": "8d39a83e02550c31",
        "type": "debug",
        "z": "80fed7c6aa4d30d0",
        "name": "gsheet",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1260,
        "y": 940,
        "wires": []
    },
    {
        "id": "c585674d032603b7",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 1480,
        "wires": []
    },
    {
        "id": "5b5508d3ca5b508c",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "2ca8cf4b58dcb971",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 900,
        "wires": []
    },
    {
        "id": "5621034438d0fc38",
        "type": "function",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n    //console.log(msg_lst)\n}\n\nmsg.payload = msg_lst\nconsole.log(msg)\nreturn msg.payload;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "1fe4af94c546c64a",
                "0ab9187a5115f0e0",
                "2fdbb3a8895bf1cf",
                "6c0b09e406740e05",
                "c7728c450856bed4",
                "5b5508d3ca5b508c"
            ]
        ]
    },
    {
        "id": "5c0fba8c7eea187b",
        "type": "debug",
        "z": "51d9a1627388b982",
        "name": "AAAAAAAA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 2500,
        "wires": []
    },
    {
        "id": "b8522d22a2033f85",
        "type": "rbe",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 4510,
        "y": 260,
        "wires": [
            [
                "80fb3035b2aeaf36",
                "72cbb208ec799444",
                "19233295b53b92b4"
            ]
        ]
    },
    {
        "id": "19233295b53b92b4",
        "type": "change",
        "z": "51d9a1627388b982",
        "name": "Sending to RPi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sending to RPi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4720,
        "y": 220,
        "wires": [
            [
                "07aa718300ae21e7"
            ]
        ]
    },
    {
        "id": "d2dd2c9ee8e35d7c",
        "type": "rbe",
        "z": "51d9a1627388b982",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 4510,
        "y": 160,
        "wires": [
            [
                "8a0c8ed070633cba",
                "9af30707222648de"
            ]
        ]
    }
]